#itemFilter{
    padding: $padding_samll 0;
    display: flex;
    justify-content: center;
    gap: $padding_medium;

    button{
        width: $btn_width;
        height: $btn_height;
        border: 1px solid $color_main;
        border-radius: 5px;
        background-color: white;

        transition: all 0.3s;

        &:hover{
            background-color: $color_btn_active;
            color: white;
        }
    }

    .active {
        background-color: $color_btn_active;
        color: white;
    }
}