#itemAdd {
    width: $box_size;
    box-sizing: border-box;
    
    padding: $padding_samll;
    border: 2px solid $color_main;
    background-color: $color_bg;

    display: flex;
    flex-direction: column;

    .title {
        // width: 92%;
        padding: $padding_samll;
        border: none;
        font-weight: bold;
        font-size: $font_size_medium;
        background-color: $color_bg;

        &:focus {
            outline: none;
            border-bottom: 2px solid $color_main;
        }
    }
    
    .contents {
        // width: 92%;
        padding: $padding_samll;
        border: none;
        resize: none;
        height: 150px;

        // 줄긋기
        background-attachment: local;
        background-image:
            // 라인 좌우 여백
            linear-gradient(to right, $color_bg 10px, transparent 10px),
            linear-gradient(to left, $color_bg 10px, transparent 10px),
            repeating-linear-gradient($color_bg, $color_bg $background_line+(-1), $color_main $background_line);

        line-height: $background_line;
        padding-top: 3px;

        &:focus {
            outline: none;
            border: 2px solid $color_main;
        }
    }



    .error {
        padding: 0 $padding_samll;
        color: $color_error;
    }

    .addBtn {
        margin: 10px;
        padding: $padding_samll 0px;
        margin-left: 25%;
        width: 50%;

        border-radius: 15px;

        font-size: $font_size_medium;

        color: white;
        font-weight: bold;

        transition: all 0.3s;

        background-color: $color_btn;

        &:hover {
            background-color: $color_btn_active;
        }
    }



}